@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Loan Calculator!</h1>
    <p>An ASP.NET Core MVC App that saves you the time of calculating your loans.</p>
    <p>Navigate to "Loan Calculator" at the top to get started.</p>
</div>

